@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /*COLORS*/

  --color-primary: #0F172A;
  --color-accent: #2563EB;
  --color-secondary:#D97706;
  --color-backColor:#F8FAFC;

  /*Text Colors*/
  
  --color-text1:#0F172A; /*koyu safir - BAŞLIK*/ 
  --color-text2:#475569; /* Maden Grisi - GÖVDE YAZILAR*/
  --color-text3:#94A3B8; /* Duman Grisi - Yardımcı/Klavuz Yazılar*/
  --color-text4:#FFFFFF; /* Kar Beyaz - koyu zemin üzeri yazılar */
  --color-text5:#1D4ED8; /* okyanus Mavisi - özelvurgu/Link yazılarda*/
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}




@keyframes logo-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes logo-right {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-logo-left {
  animation: logo-left 80s linear infinite;
}

.animate-logo-right {
  animation: logo-right 80s linear infinite;
}




/* telefon animasyonu*/
/* Telefon halkası */

@keyframes phonePulse {
  0% {
    transform: scale(1);
    opacity: .15;
  }

  50% {
    transform: scale(1.04);
    opacity: .35;
  }

  100% {
    transform: scale(1);
    opacity: .15;
  }
}

.phone-ring-1{
  animation: phonePulse 4s ease-in-out infinite;
}

.phone-ring-2{
  animation: phonePulse 4s ease-in-out infinite;
  animation-delay: .4s;
}

.phone-ring-3{
  animation: phonePulse 4s ease-in-out infinite;
  animation-delay: .8s;
}


/* Telefon ikonu */

@keyframes phoneShake {

  0%,85%,100%{
    transform: rotate(0deg);
  }

  88%{
    transform: rotate(-8deg);
  }

  91%{
    transform: rotate(8deg);
  }

  94%{
    transform: rotate(-5deg);
  }

  97%{
    transform: rotate(5deg);
  }

}

.phone-icon{
  animation: phoneShake 6s ease-in-out infinite;
}